<% width ||= '300px' %>
<div class="relative">
  <%= image_tag image, class: "w-[#{width}]" %>
</div>
<div class="absolute bottom-0 bg-white opacity-50 flex w-full">
  <p class="text-sm p-1"><%= title %></p>
</div>
